@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  font-family: "Noto Sans KR", sans-serif;
}

.header {
  padding: 10px;
  font-size: 15px;
}

.add-todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 10px;
}

.input-group {
  align-items: center;
  display: flex;
}

.input-todoList {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  margin-right: 20px;
  margin-left: 10px;
}

.addBtn {
  background-color: #fff200;
  color: #242424;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: 700;
}

.todo {
  width: 270px;
  padding: 5px 10px 15px 15px;
  border: 3px solid #aeaeae;
  border-radius: 10px;
  margin: 10px;
}

.taskState {
  font-size: 27px;
  padding-left: 10px;
  border-top: 0.3px solid #aeaeae;
  padding-top: 10px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 25px;
}

.content {
  font-size: 18px;
}

.deleteBtn {
  width: 100px;
  padding: 10px;
  background-color: #ff4848;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin: 0px 10px;
  cursor: pointer;
  font-weight: 700;
}

.updateBtn {
  width: 100px;
  padding: 10px;
  background-color: #60a94d;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin: 0px 10px;
  cursor: pointer;
  font-weight: 700;
}
